body{
    font-family: "Oswald", sans-serif;
};

.jumbotron{
    background-image: url(../src/public/booroad_bg.jpg);
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: .5rem;
};
